<div class="layout-row layout-align-end-center break-after">
  <h3>Objectives</h3>
  <%= hidden_field_tag "page_is_dirty", 0 %>
  <span class="flex"></span>  
  
  <%= admin_content { link_to 'New Objective', new_objective_path, class: "btn btn-success pull-right" } %>
</div>

<div class="row flex-row">
  <% @objectives.each do |objective| %>
    <div class="col-xs-12 col-md-6 col-lg-4">
      <%= render objective %>
    </div>
  <% end %>
</div>