<div class="form-group">
  <label class="col-md-3 control-label">Key Focus Area</label>
  <div class="col-md-9">
    <p><%= initiative_fields.object.key_focus_area.try(:name) %></p>
  </div>
</div>

<div class="form-group">
  <label class="col-md-3 control-label">Objective</label>
  <div class="col-md-9">
    <p><%= initiative_fields.object.objective.try(:name) %></p>
  </div>
</div>