<label class="col-sm-3 form-label control-label"><%= label %></label>

<div class="col-sm-9">
  <% people.each do |person| %>
    <div class="row">
      <div class="col-xs-4">
        <p><%= person.name %></p>
      </div>
      <div class="col-xs-4">
        <p><%= person.email %></p>
      </div>
      <div class="col-xs-4">
        <p><%= person.department %></p>
      </div>
    </div>
  <% end -%>
</div>