<div class="form-group">
  
  <%= fields.label :name, label, class: "col-lg-2 control-label" %>
  
  <div class="col-lg-3">
    <%= fields.text_field :name, class: "form-control", placeholder: "Name" %>
  </div>

  <div class="col-lg-4">
    <%= fields.email_field :email, class: "form-control", placeholder: "Email" %>
  </div>

  <div class="col-lg-3">
    <%= fields.select :department, ["Budget and Management Services", "City Attorney", "City Clerk", "City Council", "City Manager's Office", "City Planning", "Communications", "Convention Center and Performing Arts", "Development Services", "Economic Development and Innovation", "Emergency Communications", "Emergency Management and Special Events", "Engineering Services", "Finance", "Fire", "Housing and Neighborhoods", "Human Resources", "Information Technology", "Internal Audit", "Parks, Recreation, and Cultural Resources", "Police", "Public Utilities", "Solid Waste Services", "Sustainability", "Transportation"], { prompt: "Department" }, class: "form-control department-select" %>
  </div>

</div>
  
