<div class="form-group">
  
  <%= fields.label :name, label, class: "col-lg-2 control-label" %>
  
  <div class="col-lg-3">
    <%= fields.text_field :name, class: "form-control", placeholder: "Name" %>
  </div>

  <div class="col-lg-4">
    <%= fields.email_field :email, class: "form-control", placeholder: "Email" %>
  </div>

  <div class="col-lg-3">
    <%= fields.text_field :department, class: "form-control", placeholder: "Department" %>
  </div>

</div>
  
