<p class="editable-year layout-row layout-align-space-between-start">
  <span><%= initiative_guide.initiative_plan_years[-2].try(:year) %></span>
  <%= link_to "Update Year", "#", class: "update-year-link" %>
</p>