<div class="flex-100 layout-column layout-align-center-center" id="contact-container">
  
  <h2 class="layout-row flex">Contact Us</h2>
  
  <div class="layout-row flex layout-wrap layout-align-center-stretch">
    
    <md-card class="contact-card">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline limit-text">Monica Chaparro</span>
          <span class="md-subhead limit-text">Strategic Planning and Performance Manager</span>
          <span class="md-subhead limit-text">&nbsp;</span>
          <span class="md-subhead limit-text">
            <i class="fa fa-fw fa-envelope"></i><b>Email:</b> 
            <a class="text-info" href="mailto:monica.chaparro@raleighnc.gov">monica.chaparro@raleighnc.gov</a>
          </span>
          <span class="md-subhead limit-text">
            <i class="fa fa-fw fa-mobile"></i><b>Phone:</b> 919-996-4265
          </span>
        </md-card-title-text>
        <md-card-title-media>
          <div class="md-media-md card-media photo-container">
            <%= image_tag "monica.jpeg", alt: "Monica Chaparro" %>
          </div>
        </md-card-title-media>
      </md-card-title>
<!--       <md-card-actions class="layout-align-start-center layout-row">
        <a class="btn btn-info" href="mailto:monica.chaparro@raleighnc.gov">Contact Me!</a>
      </md-card-actions> -->
    </md-card>
  
    <md-card class="contact-card">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline limit-text">Tonya Walton</span>
          <span class="md-subhead limit-text">Budget and Management Analyst</span>
          <span class="md-subhead limit-text">&nbsp;</span>
          <span class="md-subhead limit-text">
            <i class="fa fa-fw fa-envelope"></i><b>Email:</b> 
            <a class="text-info" href="mailto:tonya.walton@raleighnc.gov">tonya.walton@raleighnc.gov</a>
          </span>
          <span class="md-subhead limit-text">
            <i class="fa fa-fw fa-mobile"></i><b>Phone:</b> 919-996-4272
          </span>
        </md-card-title-text>
        <md-card-title-media>
          <div class="md-media-md card-media photo-container"></div>
        </md-card-title-media>
      </md-card-title>
    </md-card>
  

  
  </div>
  
</div>


