<div class="flex-100 layout-column layout-align-center-center">
  
  <h2 class="layout-row flex">Contact Us</h2>
  
  <div class="layout-row flex layout-wrap layout-align-center-stretch">
    
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline limit-text">John Smith</span>
          <span class="md-subhead limit-text">Rocket Engineer</span>
          <span class="md-subhead limit-text">&nbsp;</span>
          <span class="md-subhead limit-text">Email: test@raleighnc.gov</span>
          <span class="md-subhead limit-text">Phone: 123-456-7890</span>
        </md-card-title-text>
        <md-card-title-media>
          <div class="md-media-lg card-media"></div>
        </md-card-title-media>
      </md-card-title>
      <md-card-actions class="layout-align-end-center layout-row">
        <a class="btn btn-info" href="mailto:test@raleighnc.gov">Contact Me!</a>
      </md-card-actions>
    </md-card>
  
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline limit-text">Nicole Doe</span>
          <span class="md-subhead limit-text">Rocket Engineer</span>
          <span class="md-subhead limit-text">&nbsp;</span>
          <span class="md-subhead limit-text">Email: test@raleighnc.gov</span>
          <span class="md-subhead limit-text">Phone: 123-456-7890</span>
        </md-card-title-text>
        <md-card-title-media>
          <div class="md-media-lg card-media"></div>
        </md-card-title-media>
      </md-card-title>
      <md-card-actions class="layout-align-end-center layout-row">
        <a class="btn btn-info" href="mailto:test@raleighnc.gov">Contact Me!</a>
      </md-card-actions>
    </md-card>
  
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline limit-text">Paul Berger</span>
          <span class="md-subhead limit-text">Rocket Engineer</span>
          <span class="md-subhead limit-text">&nbsp;</span>
          <span class="md-subhead limit-text">Email: test@raleighnc.gov</span>
          <span class="md-subhead limit-text">Phone: 123-456-7890</span>
        </md-card-title-text>
        <md-card-title-media>
          <div class="md-media-lg card-media"></div>
        </md-card-title-media>
      </md-card-title>
      <md-card-actions class="layout-align-end-center layout-row">
        <a class="btn btn-info" href="mailto:test@raleighnc.gov">Contact Me!</a>
      </md-card-actions>
    </md-card>
  
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline limit-text">Sia Henderson</span>
          <span class="md-subhead limit-text">Rocket Engineer</span>
          <span class="md-subhead limit-text">&nbsp;</span>
          <span class="md-subhead limit-text">Email: test@raleighnc.gov</span>
          <span class="md-subhead limit-text">Phone: 123-456-7890</span>
        </md-card-title-text>
        <md-card-title-media>
          <div class="md-media-lg card-media"></div>
        </md-card-title-media>
      </md-card-title>
      <md-card-actions class="layout-align-end-center layout-row">
        <a class="btn btn-info" href="mailto:test@raleighnc.gov">Contact Me!</a>
      </md-card-actions>
    </md-card>
  
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline limit-text">Peter Parker</span>
          <span class="md-subhead limit-text">Rocket Engineer</span>
          <span class="md-subhead limit-text">&nbsp;</span>
          <span class="md-subhead limit-text">Email: test@raleighnc.gov</span>
          <span class="md-subhead limit-text">Phone: 123-456-7890</span>
        </md-card-title-text>
        <md-card-title-media>
          <div class="md-media-lg card-media"></div>
        </md-card-title-media>
      </md-card-title>
      <md-card-actions class="layout-align-end-center layout-row">
        <a class="btn btn-info" href="mailto:test@raleighnc.gov">Contact Me!</a>
      </md-card-actions>
    </md-card>
  
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline limit-text">Ariana Grøstå</span>
          <span class="md-subhead limit-text">Rocket Engineer</span>
          <span class="md-subhead limit-text">&nbsp;</span>
          <span class="md-subhead limit-text">Email: test@raleighnc.gov</span>
          <span class="md-subhead limit-text">Phone: 123-456-7890</span>
        </md-card-title-text>
        <md-card-title-media>
          <div class="md-media-lg card-media"></div>
        </md-card-title-media>
      </md-card-title>
      <md-card-actions class="layout-align-end-center layout-row">
        <a class="btn btn-info" href="mailto:test@raleighnc.gov">Contact Me!</a>
      </md-card-actions>
    </md-card>
  
  </div>
  
</div>


