<div class="flex-100 layout-column layout-align-center-center" style="padding-top: 15px;">
  
  <%= image_tag "city.png", class: "img img-responsive", alt: "City of Raleigh Logo", height: 100, width: 100 %>

  <%# react_component 'Welcome', { title: 'Hello David!' }, { class: "btn btn-success", tag: "div"} %>

  <h1 class="layout-column flex layout-align-space-between-center">
    <span class="city-text flex">City of Raleigh</span>
    <span class="strategic-text flex">Strategic Planning</span>
  </h1>
  
  <div class="img-container">
    <%= image_tag "honeycomb.png", class: "img img-responsive", alt: "Strategic Planning Logo" %>
  </div>
  
</div>
