<h1>Welcome!</h1>

<%= link_to "See all Key Focus Areas", key_focus_areas_path, class: "btn btn-lg btn-primary disabled" %>
<%= link_to "See all Objectives", objectives_path, class: "btn btn-lg btn-primary disabled" %>
<%= link_to "See all Performance Measures", performance_measures_path, class: "btn btn-lg btn-primary disabled" %>
<%= link_to "See all Measure Reports", measure_reports_path, class: "btn btn-lg btn-primary" %>