<div class="layout-row layout-align-end-center break-after">
  <h3>Measure Reports</h3>
  <span class="flex"></span>
  
  <%= link_to 'New Measure report', new_measure_report_path, class: "btn btn-success spaced-items" %>
  <%= link_to download_measure_reports_path(format: :xls), class: "btn btn-default spaced-items" do %>
    <i class="fa fa-fw fa-file-excel-o"></i> Download Reports
  <% end %>
</div>

<div class="row flex-row">
  <% @measure_reports.each do |measure_report| %>
    <div class="col-xs-12 col-md-6 col-lg-4">
      <%= render measure_report %>
    </div>
  <% end %>
</div>

<div class="text-center">
  <%= will_paginate @measure_reports %>
</div>
