<%= link_to 'New Measure report', new_measure_report_path, class: "btn btn-success pull-right" %>
<h3>Measure Reports</h3>
  
<div class="row">
  <% @measure_reports.each do |measure_report| %>
    <div class="col-md-6 col-lg-4">
      <%= render measure_report %>
    </div>
  <% end %>
</div>

<div class="text-center">
  <%= will_paginate @measure_reports %>
</div>
