@mixin user-select($select) {
  -webkit-user-select: $select;  
     -moz-user-select: $select;    
      -ms-user-select: $select;
       -o-user-select: $select;
          user-select: $select;   
}

@mixin transform($transformation) {
  -webkit-transform: $transformation;
     -moz-transform: $transformation;
      -ms-transform: $transformation;
       -o-transform: $transformation;
          transform: $transformation;
}

@mixin transition($transitions...) {
  -webkit-transition: $transitions;
     -moz-transition: $transitions;
      -ms-transition: $transitions;
       -o-transition: $transitions;
          transition: $transitions;
}

@mixin box-shadow($shadows...) {
  -webkit-box-shadow: $shadows;
     -moz-box-shadow: $shadows;
          box-shadow: $shadows;
}

@mixin display-flex() {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin display-inline-flex() {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@mixin space-between() {
  -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
          justify-content: space-between;
}

@mixin flex-start() {
  -webkit-align-items: flex-start;
       -ms-flex-align: start;
          align-items: flex-start;
  
  -webkit-align-content: flex-start;
     -ms-flex-line-pack: start;
          align-content: flex-start; 
}

@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
      -ms-flex-direction: $direction;
          flex-direction: $direction;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }  
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }  
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($animation...) {
  -webkit-animation:  #{$animation};
  -moz-animation:     #{$animation};
  -ms-animation:      #{$animation};
  -o-animation:       #{$animation};
  animation:          #{$animation};
}