$indigo: #3F51B5;
$dark-indigo: #303F9F;
$danger: #E51C23;
$black: #000;
$dark-grey: rgba(0,0,0,0.78);
$grey: rgba(0,0,0,0.5);
$navbar-text: #b2dbfb;
$light-white: rgba(255,255,255,0.87);
$dark-blu: #393B42;
$out-cubic: cubic-bezier(0.22, 0.61, 0.36, 1);
$in-out-cubic: cubic-bezier(0.65, 0.05, 0.36, 1);
$teal: #009688;
$teal-600: #00897B;