@import 'mixins';
@import 'variables';

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}

a.self-name {
  color: $navbar-text !important;
  cursor: default !important;
  &:hover {
    color: $navbar-text !important;
  }
}

.panel p {
  word-break: break-word;
}

#comment-hint {
  color: $danger;
  font-weight: 500;
  text-transform: italic;
}

.sublegend {
  font-size: 17px;
}

.kfa-actions, .objective-actions, .measure-actions, .report-actions {
  padding-top: 10px;
}

.flex-row {
  @include display-flex;
  @include flex-direction( row );
  flex-wrap: wrap;
}

.measurable-name {
  padding-top: 5px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
}

input:focus, a:focus, button:focus, select:focus, form:focus {
  outline: none;
}

.form-group {

  p, a {
    padding-top: 7px;
  }
}

.capitalize {
  text-transform: capitalize;
}

.limit-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.devise-link {
  display: block;
}

label.control-label {
  font-weight: 600;
}

.field_with_errors {
  display: block;
  input {
    @include box-shadow( inset 0 -2px 0 $danger !important );
  }
}

.bg-default {
  background-color: rgba($dark-grey, 0.03);
}

div[data-report-id] {
  p {
    margin: 0;
    padding: 2px 0;
  }
 
  .report-actions {
    @include display-flex;
    @include flex-direction( row );
    // Pending mixins
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    max-width: 100%;
  }

  .btn:not(:last-child) {
    margin-right: 10px;
  }
}

.flex {
  @include display-flex;
}

.layout-row {
  @include flex-direction( row );
}

.layout-column {
  @include flex-direction( column );
}

.layout-align-space-between-start {
  @include space-between;
  @include flex-start;
}

.measure_reports.new {
  #report-data-panel {
    .well-paragraph {
      @include space-between;
      align-content: center;
      align-items: center;

      span {
        white-space: nowrap;
        padding: 0 2px;
        // align-self: center;
      }
    }
  }
}