@import 'mixins';
@import 'variables';

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

html body {
  padding: 70px 0 20px;
}

a {
  cursor: pointer;
}

a.self-name {
  color: $navbar-text !important;
  cursor: default !important;
  &:hover {
    color: $navbar-text !important;
  }
}

select.form-control[disabled] {
  color: rgba($black, 0.2);
}

a.btn.btn-icon {
  border-radius: 50%;
  // padding: 8px 12px;
  height: 30px;
  width: 30px;
  padding: 4px 7px;
  margin-bottom: 3px;

  &:hover {
    color: #1b5e20;
  }
}

.froala-container {
  position: relative;
}

#gantt-chart {
  @include box-shadow( 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12) );
  // min-height: 400px;
  width: 100%;
  background-color: #fff;
}

.welcome.index {
  .city-text {
    color: $dark-indigo;
    font-weight: 500;
  } 

  .strategic-text {
    color: $indigo;
  }
}

#contact-container {
  .contact-card {
    .photo-container {
      height: auto;
    }
  }
}

@include keyframes(slide-in-ltr) {
  from { @include transform(translateX(-100px)); opacity: 0; }
  to { @include transform(translateX(0)); opacity: 1; }
}
@include keyframes(slide-in-rtl) {
  from { @include transform(translateX(100px)); opacity: 0; }
  to { @include transform(translateX(0)); opacity: 1; }
}
@include keyframes(slide-in-btt) {
  from { @include transform(translateY(100px)); opacity: 0; }
  to { @include transform(translateX(0)); opacity: 1; }
}
@include keyframes(slide-in-ttb) {
  from { @include transform(translateY(-100px)); opacity: 0; }
  to { @include transform(translateX(0)); opacity: 1; }
}
@include keyframes(slide-in-ttb-short) {
  from { @include transform(translateY(-20px)); opacity: 0; }
  to { @include transform(translateX(0)); opacity: 1; }
}

.container-fluid {
  .info-box {
    position: fixed;
    padding: 15px;
    right: 0;
    bottom: 20px;
    margin-bottom: 0;
    z-index: 2;
    background-color: $teal;
    color: $light-white;
    opacity: 0;
    @include transform(translateY(100px));
    @include box-shadow( 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12) );
    @include animation( slide-in-btt 1s $in-out-cubic 1ms 1 normal forwards );

    a:not(.close) {
      opacity: 0.87;

      &:hover {
        opacity: 1;
      }
    }

  }
}

md-card {

  md-card-title-text {
    padding-right: 20px;
  }
  
  .card-media {
    background-color: rgba($black, 0.12);
  }
}

label.control-label {
  font-weight: 600;
  color: rgba($black, 0.6);
}

.spaced-items + .spaced-items {
  margin-left: 15px;
}

form {
  .form-divider {
    padding: 30px;
  }
}

form {
  legend {
    color: $indigo;
    border-bottom: 1px solid rgba($dark-indigo, 0.27);

    &.sublegend {
      font-size: 17px;
    }
  }

  .form-group {

    p, a:not(.btn) {
      padding-top: 7px;
      font-size: 15px;
    }

    p {
      color: rgba($black, 0.6);
    }
  }

  .field_with_errors {
    display: block;
    input {
      @include box-shadow( inset 0 -2px 0 $danger !important );
    }
  }

  input[type="file"].file-upload {
    &:focus {
      outline: none;
    }
  }
}

.md-primary {
  color: $indigo;
}

.text-default {
  color: $dark-grey
}

.logo-row {
  // background-color: $indigo;
  margin-bottom: 15px;
}

.break-after {
  margin-bottom: 15px;
}

.panel p {
  word-break: break-word;
}

#comment-hint {
  color: $danger;
  font-weight: 500;
  text-transform: italic;
  opacity: 0;
  @include transform( translateY(-20px) );
  @include animation( slide-in-ttb-short 600ms $in-out-cubic 0s 1 normal forwards );
}

.form-group .form-hint {
  font-size: 12px;
  color: rgba($black, 0.5);
}

.no-margin {
  margin: 0;
}

.checkbox-danger {
  &:focus:after {
    border-color: $danger !important;
  }

  &:checked:after {
    border-color: darken($danger, 5%) !important;
    background-color: $danger !important;
  }
}

.kfa-logo-card {
  width: 40px;
}

.kfa-subheader {
  color: $indigo;
}

.card-actions {
  // padding-top: 10px;
}

.flex-row {
  @include display-flex;
  @include flex-direction( row );
  flex-wrap: wrap;
}

.margin-right-sm {
  margin-right: 10px;
}

.measurable-name {
  padding-top: 5px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
}

input:focus, a:focus, button:focus, select:focus, form:focus {
  outline: none;
}

.capitalize {
  text-transform: capitalize;
}

.limit-text, text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.icon-action {
  padding: 5px 10px;
}

.no-events {
  pointer-events: none;
}

.measure-report-label, .form-label {
  line-height: 14px;
  padding: 7px 0 3px;
}

.devise-link {
  display: block;
}

.bg-default {
  background-color: rgba($dark-grey, 0.03);
}

.flex {
  @include display-flex;
}

.layout-row {
  @include flex-direction( row );
}

.layout-column {
  @include flex-direction( column );
}

.layout-align-space-between-start {
  @include space-between;
  @include flex-start;
}

.measure_reports.new {
  #report-data-panel {
    .date-section {

      > * {
        margin: 0 4px;
      }

      .date-text {
        // align-self: baseline;
        font-size: 14px;
        font-weight: 500;
        color: rgba($black, 0.79);
      }
    }
  }
}

.striked-text {
  text-decoration: line-through;
  color: rgba($danger, 0.7);
}

.initiative_planning_guides {
  .year-container {
    position: relative;
    .editable-year {
      position: absolute;
      top: 0;
      left: 0;
      padding: 5px 4px;
      margin: 0 15px;
      background-color: rgba($black, 0.01);
      // border: 1px inset rgba($black, 0.1);
      width: calc(100% - 30px);
      box-sizing: border-box;

      .update-year-link {
        padding-top: 0;
      }
    }
  }

  form .form-group p, form .form-group a:not(.btn) {
    // padding-top: 0;
    margin: 0;
  }
}


@media screen and (max-width: 599px) {
  .navbar {
    .navbar-brand {
      font-size: 20px;
    }
  }
}


