// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'mixins';
@import 'variables';


.welcome.index {
  .city-text {
    color: $dark-indigo;
    font-weight: 500;
  } 

  .strategic-text {
    color: $indigo;
  }
}